<div class="footer main ui inverted blue segment">

  <div class="ui stackable grid">
      <div class="four wide column">
          <img src="/assets/images/darpa.png" width="80" style="width: 80px">
      </div>

      <div class="eight wide column">
          <p style="font-size: 0.7em; color: #ccc; text-align: center">
              The <a href="http://race.crc.nd.edu" target="_blank">RACE</a> (Repository and Workflows for Accelerating
              Circuit Realization) project is supported by the Defense Advanced Research Projects Agency, with
              additional support from the University of Southern California and University of Notre Dame.
              <br/>
              <span style="font-size: 0.9em; color: #aaa; text-align: center">
              Any opinions, findings, and conclusions or recommendations expressed in this material are those of the
              author(s) and do not necessarily reflect the views of the Defense Advanced Research Projects Agency.
          </span>
          </p>
      </div>

      <div class="four wide right aligned column">
          <p>The CRAFT Program</p>
      </div>
  </div>
</div>
