<div class="ui inverted blue fixed menu main nav bar">
    <a class="header item logo" href="/">
        <img class="ui right spaced image logo header" src="/assets/images/craft.png" alt="CRAFT Logo" />
        <div>VAULT</div>
    </a>
    <!--  *ngIf="true || session && session.isAuthenticated" -->
    <div class="ui right inverted menu" *ngIf="currentUser">
        <h1>Hi {{currentUser.firstName}}!</h1>
    </div>
    <!-- <div class="dropdown" dropdown dropdownToggle>
        <a class="dropdown-toggle">
          <img *ngIf="user && user.gravatarUrl && user.gravatarUrl.length" class="avatar" src="{{user.gravatarUrl}}" alt="User gravatar" width="25px" /> {{fullName()}}
        </a>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem"><a class="dropdown-item" routerLink="/dashboard" routerLinkActive="active"><i class="dashboard icon"></i> Dashboard</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#"><i class="block layout icon"></i> My Projects</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#"><i class="user icon"></i> My Profile</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" href="#"><i class="settings icon"></i> Settings</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#"><i class="sign out icon"></i> Log out</a></li>
        </ul>
      </div>
    </div> -->
    <!-- {{else}} {{#link-to 'login' class="ui black item"}}<i class="sign in icon"></i>Login {{/link-to}}  -->
</div>
